.wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  border-radius: 0rem 0rem 1rem 1rem;
  overflow: hidden;
  min-width: 100px;
  padding: 0;
  border: 2px solid black;
  max-width: 350px;
  width: 125px;
}

.tower {
  display: flex;
  flex-direction: column;
  padding: 0px;
  box-shadow: none;
  background-color: #ffffff;
}

.card-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  margin-top: 0rem;
  padding: 0px;
  height: 40px;
  justify-items: center;
  flex-wrap: nowrap;
  align-content: space-between;
}

.tier {
  font-size: 22px;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  align-self: center;
  margin-top: 0px;
  padding-top: 25px;
  padding-left: 5px;
}

.operator {
  font-size: 36px;
  font-weight: 300;
  text-align: justify;
}

.priority {
  font-size: 22px;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  align-self: center;
  margin-top: 0px;
  padding-top: 25px;
  padding-left: 5px;
}

input[type='radio'] {
  display: grid;
  place-content: center;
  appearance: none;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.04em solid #000000;
  border-radius: 50%;

  font-size: 1.22rem;
}

input[type='radio']::before {
  content: '';
  width: 0.46em;
  height: 0.46em;
  border-radius: 50%;
  background-color: #000000;
  transform: scale(0);
}

input[type='radio']:checked::before {
  transform: scale(1);
}
