.root {
}

.navBar-header {
  background-color: #4d4d4d;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ffffff;
  padding-right: 12px;
  padding-left: 12px;
}
.play {
  color: #ffffff;
  padding: 12px;
}
.buttons {
  align-self: end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: start;
  height: 50px;
}
.build {
  padding: 12px;
  color: #fefefe;
}
.logo {
  color: #fffefe;
  font-weight: 700;
  text-align: center;
  margin: 0px;
  font-size: 24px;
  padding: 5px;
  align-self: end;
  height: 40px;
  display: flex;
  align-items: end;
}
